body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/

    /*Custom Stuff*/
    line-height: 1;
    font-size: 14px;
    font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* My Custom Stuff*/
h1,
h2,
h3 {
    -webkit-font-smoothing: antialiased
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

#rightAlign,
.rightAlign {
    color: saddlebrown;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
    text-align: right;
    padding: 0;
    margin: 0;
}

    #rightAlign a:focus,
    #rightAlign a:hover,
    .rightAlign a:focus,
    .rightAlign a:hover {
        cursor: pointer;
    }

a {
    color: saddlebrown;
    text-decoration: none
}

embed,
img,
object {
    max-width: 100%
}

img {
    height: auto
}

a img {
    border: none
}

ul {
    list-style: none;
}

/*************************/
/* Menu and Footer Stuff */
/*************************/
#asideMenuLine {
    padding: 15px 0 15px 0;
}

.aside-nav-item {
    font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: saddlebrown;
    /*text-shadow: 0 0 1px black;*/
    padding: 10px 5px;
    margin: 5px 5px;
    background-color: transparent;
    border-color: black;
    border-radius: 8px;
    border: solid thin transparent;
}

    .aside-nav-item:focus,
    .aside-nav-item:hover {
        color: white;
        border: solid thin #602c06;
        background-color: chocolate;
    }

.nav-link {
    color: chocolate;
    padding-left: 5px;
}

.countdowns-menu__header,
.links-menu__header {
    font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    /*letter-spacing: 1.08px;*/
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: burlywood;
    text-shadow: 0 0 1px #602c06;
    border: solid thin transparent;
}

.site-menu__header {
    font-size: 16px;
}

.site-menu__item a {
    font-size: 16px;
    font-weight: 400;
}

.site-footer__header {
    font-size: 14px;
}

.site-footer__item a {
    font-size: 12px;
    font-weight: 400;
}

.site-menu,
.site-footer {
    clear: both;
    margin-top: 5px;
    position: relative;
    background: 0 0;
    font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
}

.site-menu__module-group {
    padding-right: 15px;
}

.site-menu__module-group,
.site-footer__module-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-weight: 700
}

.main-menu__item {
    text-align: center;
    padding-bottom: 15px;
    width: 100%;
}

    .main-menu__item a {
        font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: chocolate;
        text-shadow: 1px 1px 0 #602c06;
        border: solid thin transparent;
    }

        .main-menu__item a:focus,
        .main-menu__item a:hover,
        .main-menu__item a:active {
            color: white;
            text-shadow: 0 0 1px #602c06;
            background-color: #e68c4d;
            border: solid thin burlywood;
            border-right: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

.images-menu__item {
    text-align: center;
    padding-bottom: 0;
    width: 100%;
}

    .images-menu__item a {
        font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.08px;
        -webkit-font-smoothing: antialiased;
        color: burlywood;
        text-shadow: 0 0 1px #602c06;
        border: solid thin transparent;
        padding-left: 20px;
        white-space: nowrap;
    }

        .images-menu__item a:focus,
        .images-menu__item a:hover,
        .images-menu__item a:active {
            color: white;
            text-shadow: 0 0 1px #602c06;
            background-color: burlywood;
            border: solid thin #602c06;
            border-right: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

.countdowns-menu__item,
.links-menu__item {
    width: 100%;
}

    .links-menu__item button {
        color: white;
        text-shadow: 0 0 1px #602c06;
    }

    .countdowns-menu__item a,
    .links-menu__item a {
        font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.08px;
        -webkit-font-smoothing: antialiased;
        color: black;
        text-shadow: 0 0 1px burlywood;
        border: solid thin transparent;
        padding-left: 10px;
        white-space: nowrap;
    }

        .countdowns-menu__item a:focus,
        .countdowns-menu__item a:hover,
        .countdowns-menu__item a:active,
        .links-menu__item a:focus,
        .links-menu__item a:hover,
        .links-menu__item a:active {
            color: white;
            text-shadow: 0 0 1px #602c06;
            background-color: burlywood;
            border: solid thin #602c06;
            border-right: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

.images-menu__item {
    text-align: left;
    width: 60%;
}

.site-footer__module {
    width: 33%;
    padding: 0 10px 0 10px;
}

    .site-footer__module ul {
        margin: 0;
        padding: 0;
    }

.main-menu__item,
.site-menu__module {
    width: 50%;
    padding: 0 10px 0 10px;
}

    .links-menu__module ul,
    .countdowns-menu__module ul,
    .site-menu__module ul {
        margin: 0;
        padding: 0;
    }

.site-menu__header,
.site-footer__header {
    font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: burlywood;
    margin-bottom: 0;
    margin-right: 0;
}

.site-menu__module-group .site-menu__item,
.site-footer__module-group .site-footer__item {
    margin-bottom: 0;
    color: chocolate;
    font-weight: 700
}

    .site-menu__module-group .site-menu__item > a
    .site-footer__module-group .site-footer__item > a {
        color: burlywood;
        display: inline-block;
        line-height: 1
    }

.active a {
    color: burlywood;
    background-color: chocolate;
    border: solid thin burlywood;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.site-menu__module-group li:last-child .site-footer__item,
.site-footer__module-group li:last-child .site-footer__item {
    margin-bottom: 0
}

/*******************/
/* Countdown Stuff */
/*******************/

/* Countdown CSS */
.ctdwn {
    margin: 0 auto;
    background-color: white;
    width: 90%;
    min-width: 300px;
    max-width: 80%;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0 white;
    border: none;
    display: block;
    text-decoration: solid;
}

#EventName,
#EventDate,
#EventDays,
#EventHours,
#EventMinutes,
#EventSeconds,
#lblEventDays,
#lblEventHours,
#lblEventMinutes,
#lblEventSeconds {
    color: white;
    text-shadow: 0.5px 0.5px 0 black, 0.5px 0 0 black, 0 0.5px 0 black, -0.5px -0.5px 0 black, 0 -0.5px 0 black, -0.5px 0 0 black, 0 0 9px darkgray, 0 0 3px black;
    letter-spacing: 1.08px;
    -webkit-font-smoothing: antialiased;
    font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
}

#EventName {
    /*font-size: 40px;*/
    font-size: 30px;
    font-weight: 400;
    padding-top: 10px;
}

#EventDate {
    font-size: 20px;
    font-weight: 400;
}

#EventDays {
    font-size: 180px;
    /*font-size: 150px;*/
    font-weight: 300;
}

#EventHours,
#EventMinutes,
#EventSeconds {
    font-size: 36px;
    font-weight: 400;
}

#lblEventDays {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 20px;
}

#lblEventHours,
#lblEventMinutes,
#lblEventSeconds {
    font-size: 20px;
    font-weight: 400;
}

/***********************/
/* End Countdown Stuff */
/***********************/

/* Style for newTab button */
#newTab {
    margin: 0;
    padding: 0;
    width: auto;
    outline: none;
    text-decoration: none;
    text-decoration-line: none;
    border: none;
    background-color: transparent;
    color: #4d4d4d;
    font-weight: 400;
    cursor: pointer
}

    #newTab:focus,
    #newTab:hover {
        margin: 0;
        padding: 0;
        width: auto;
        text-decoration: none;
        text-decoration-line: none;
        border: none;
        outline: none;
        background-color: transparent;
        color: #4d4d4d;
        font-weight: 400;
    }

#myBox {
    padding: 8px;
    margin-bottom: 7px;
    background-color: chocolate;
    color: burlywood;
    display: block;
    text-decoration: none;
    /*box-shadow: 0 1px 2px black;*/
}

#myBrownBox {
    padding: 8px;
    margin-bottom: 7px;
    color: black;
    display: block;
    text-decoration: none;
}

#changeBtn,
#registerBtn,
#loginBtn {
    color: black;
    border: solid;
    border-width: thin;
    border-color: chocolate;
}

    #changeBtn:hover,
    #changeBtn:focus,
    #registerBtn:hover,
    #registerBtn:focus,
    #loginBtn:hover,
    #loginBtn:focus {
        color: white;
        background-color: darkgray;
    }

/* Define Gradient Heading CSS */
.goldGradient {
    background: linear-gradient(to right, rgb(210, 105, 30) 0%, rgb(222, 184, 135) 100%);
    padding-top: 15px;
    padding-bottom: 15px;
}

.gradientheading {
    width: auto;
    background: linear-gradient(90deg, burlywood, transparent 100%);
    color: black;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    max-width: 100%;
    border-radius: 15px;
    font-weight: bold;
}

.p_div {
    width: auto;
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}

.p_div_bullet:before {
    width: auto;
    content: "-";
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}

#Home {
    padding: 18px 0 10px 20px;
}

.myAsideCol {
    width: 100%
}

/* For mobile phones:*/
[class*="col-"] {
    width: 100%;
}

#countdownWindowPadding {
    padding: 0 0 15px 0;
}

/* For Tablets */
@media only screen and (min-width:768px) {
    .myAsideCol {
        width: 100%
    }

    .site-menu__module-group {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: auto;
    }

    .main-menu__item {
        width: 25%;
        /*padding: 10px 0 10px 10px;*/
        padding: 0;
    }

    .images-menu__item {
        text-align: left;
        width: 50%;
    }

    .site-menu {
        margin-top: 0;
        margin-bottom: 0;
    }

    .active a {
        color: burlywood;
        background-color: chocolate;
        border: solid thin burlywood;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .site-footer__module-group {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: auto;
    }

    .site-footer__module {
        width: 25%;
        padding: 10px 10px 10px 60px;
    }

    .site-footer {
        margin-top: 0;
    }

    #countdownWindowPadding {
        padding: 0 0 299px 0;
    }
}

@media only screen and (min-width:900px) {
    .myAsideCol {
        width: 50%
    }
}

@media only screen and (min-width:1080px) {
    .myAsideCol {
        width: 50%
    }

    .main-menu__item {
        text-align: center;
        width: 25%;
    }

    .images-menu__item {
        text-align: left;
        width: 40%;
    }

    .active a {
        color: burlywood;
        background-color: chocolate;
        border: solid thin burlywood;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #countdownWindowPadding {
        padding: 0 0 371px 0;
    }
}

@media only screen and (min-width:1200px) {
    .myAsideCol {
        width: 50%
    }

    #countdownWindowPadding {
        padding: 0 0 431px 0;
    }
}

@media only screen and (min-width:1600px) {
    #Home {
        padding: 10px 0 10px 20px;
    }

    .myAsideCol {
        width: 100%
    }

    .main-menu__module-group {
        padding-right: 0;
        padding-top: 5px;
    }

    .images-menu__module-group {
        padding-right: 15px;
        padding-top: 5px;
    }

    .site-menu__module-group {
        padding-top: 5px;
    }

    .main-menu__item {
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }

        .main-menu__item a:focus,
        .main-menu__item a:hover,
        .main-menu__item a:active {
            width: 100%;
            color: white;
            text-shadow: 0 0 1px #602c06;
            background-color: #e68c4d;
            border: solid thin burlywood;
            border-right: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 0;
        }

    .images-menu__item {
        width: 50%;
        text-align: left;
        padding-left: 15px;
    }

        .images-menu__item a:focus,
        .images-menu__item a:hover,
        .images-menu__item a:active {
            color: white;
            background-color: burlywood;
            border: solid thin #602c06;
            border-right: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

    .links-menu__item a,
    .countdowns-menu__item a {
        padding-left: 24px;
        border: solid thin transparent;
    }

        .countdowns-menu__item a:focus,
        .countdowns-menu__item a:hover,
        .countdowns-menu__item a:active
        .links-menu__item a:focus,
        .links-menu__item a:hover,
        .links-menu__item a:active {
            color: White;
            background-color: burlywood;
            border: solid thin #602c06;
            border-right: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

    /*Changed from -1*/
    .site-menu__header {
        margin-right: 0;
    }

        .site-menu__header a {
            padding-left: 15px;
        }

    .active a {
        color: burlywood;
        background-color: chocolate;
        border: solid thin burlywood;
        border-top-left-radius: 10px;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0;
    }

    #countdownWindowPadding {
        padding: 0 0 519px 0;
    }

    .aside {
        width: 100%;
    }

    .ctdwn {
        width: 100%;
    }

    .col-m-1,
    .col-1 {
        width: 8.33%;
    }

    .col-m-2,
    .col-2 {
        width: 16.66%;
    }

    .col-m-3,
    .col-3 {
        width: 25%;
    }

    .col-m-4,
    .col-4 {
        width: 33.33%;
    }

    .col-m-5,
    .col-5 {
        width: 41.66%;
    }

    .col-m-6,
    .col-6 {
        width: 50%;
    }

    .col-m-7,
    .col-7 {
        width: 58.33%;
    }

    .col-m-8,
    .col-8 {
        width: 66.66%;
    }

    .col-m-9,
    .col-9 {
        width: 75%;
    }

    .col-m-10,
    .col-10 {
        width: 83.33%;
    }

    .col-m-11,
    .col-11 {
        width: 91.66%;
    }

    .col-m-12,
    .col-12 {
        width: 100%;
    }
}
